{% extends "layouts/base.html" %}
{% block content %}
  <section class="hero">
    <div class="container">
      <div class="content">
        <h1>Scooter sharing made simple</h1>
        <div class="inner-content">
          <p>
            Scoot takes the hassle out of urban mobility. Our bikes are placed
            in convenient locations in each of our cities. Use our app to locate
            the nearest bike, unlock it with a tap, and you’re away!
          </p>
          {% include "partials/cta-button.html" %}
        </div>
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="452"
      height="151"
      class="arrow"
    >
      <g
        fill="none"
        fill-rule="evenodd"
        stroke="#FCB72B"
        stroke-linejoin="bevel"
        stroke-width="15"
      >
        <path d="M407.952 145.444l38.426-38.426-38.426-38.426" />
        <path d="M0 8h270.115v99.369h176.263" />
      </g>
    </svg>

    {% include "partials/white-circles.svg" %}

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="203"
      height="15"
      class="line"
    >
      <path
        fill="none"
        stroke="#FCB72B"
        stroke-width="15"
        d="M203 7.5H.5"
      />
    </svg>
  </section>
  {% for item in sidebysides.home %}
    {% include "partials/side-by-side.html" %}
  {% endfor %}
{% endblock %}
