@use "fonts";
@use "reset";
@use "variables";
@use "utilities";
@use "sass:map";

// Global Styles
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;

  background-color: map.get(variables.$colors, "white");
  color: map.get(variables.$colors, "dim-grey");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", sans-serif;
  line-height: 1;
  letter-spacing: -0.04em;
  color: map.get(variables.$colors, "dark-navy");
}

h2 {
  font-size: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.navbar {
  padding: 2rem 0;
  display: flex;
  align-items: center;

  position: relative;

  .logo {
    margin: 0 auto;
  }

  .nav__list {
    display: flex;
    gap: 2rem;
  }

  .nav__item {
    font-family: "Space Mono", sans-serif;
  }

  .socials__list {
    display: flex;
    gap: 1.5rem;
  }
}

header {
  .nav-toggle {
    position: absolute;
    left: 0;

    background: none;
    border: none;
  }

  .main-nav {
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  .main-nav.visible {
    visibility: visible;
    height: auto;
    position: absolute;
  }

  .cta {
    margin-left: auto;
  }

  .cta {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}

.hero {
  text-align: center;
  color: map.get(variables.$colors, "white");
  background-image: url("/assets/images/home-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40.625rem;
  position: relative;

  .container {
    padding-top: clamp(7.1875rem, 6.3512rem + 3.5681vw, 9.5625rem);
  }
  h1 {
    font-size: clamp(2.5rem, 2.1479rem + 1.5023vw, 3.5rem);
    color: inherit;
  }

  p {
    margin: 1.5rem 0 2rem;
  }

  .arrow {
    position: absolute;
    left: -85%;
    bottom: 2rem;
  }

  .circles,
  .line {
    visibility: hidden;
    height: 0;
    position: absolute;
  }
}

.side-by-side {
  margin: 7.5rem 0;
  position: relative;

  .container {
    text-align: center;
    place-items: center;
  }

  img {
    border-radius: 100vw;
  }
  .content {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .left-downward-arrow,
  .right-arrow,
  .circle {
    // TODO: position svgs appropriately
    visibility: hidden;
    height: 0;
    position: absolute;
  }

  &:nth-child(2) {
    .left-downward-arrow {
      visibility: visible;
      height: auto;
      top: clamp(10.8125rem, 2.8211rem + 34.0967vw, 19.1875rem);
      left: 2rem;
    }
  }

  &:nth-child(3) {
    .right-arrow {
      visibility: visible;
      height: auto;
      top: 0;
      left: calc(-1 * clamp(6.4375rem, 17.0635rem + -22.1374vw, 11.875rem));
    }
  }

  &:nth-child(4) {
    .left-downward-arrow {
      visibility: visible;
      height: auto;
      top: clamp(0rem, -5.0692rem + 21.6285vw, 5.3125rem);
      left: clamp(6.5rem, -12.2858rem + 80.1527vw, 26.1875rem);
    }
  }
}

footer {
  background-color: map.get(variables.$colors, "very-dark-navy");

  .cta {
    z-index: 2;
    min-height: clamp(18.75rem, 21.1927rem + -5.0891vw, 20rem);
    background-color: map.get(variables.$colors, "dark-navy");
    place-content: center;
    position: relative;

    .semi-circles {
      position: absolute;
      bottom: 0;
      right: -10.1875rem;
    }

    h2 {
      margin-bottom: 2.5rem;
      text-align: center;
      color: map.get(variables.$colors, "white");
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
    }
  }

  .navbar {
    flex-direction: column;
    padding: clamp(2rem, 5.9084rem + -8.1425vw, 4rem) 0
      clamp(2rem, 8.8397rem + -14.2494vw, 5.5rem);
    .logo {
      margin-bottom: 2.5rem;
      path {
        fill: map.get(variables.$colors, "white");
      }
    }

    .nav__list {
      flex-direction: column;
      align-items: center;
      gap: clamp(1rem, 0.0458rem + 4.0712vw, 2rem);
      margin-bottom: 5.25rem;
    }
  }
}

@media (min-width: 48rem) {
  .navbar {
    .logo {
      margin-left: 0;
      margin-right: 3.625rem;
    }

    .socials__list {
      margin-left: auto;
    }
  }

  header {
    .nav-toggle {
      visibility: hidden;
      height: 0;
      position: absolute;
    }

    .main-nav {
      visibility: visible;
      height: auto;
      position: relative;
    }

    .cta {
      visibility: visible;
      height: auto;
      position: relative;
    }
  }

  .hero {
    background-image: url("/assets/images/home-hero-tablet.jpg");

    .arrow {
      left: -7.94rem;
    }

    .circles {
      visibility: visible;
      height: auto;
      bottom: 3em;
      right: -2rem;
    }
  }

  .side-by-side {
    .content {
      max-width: 75%;
    }

    .circle {
      visibility: visible;
      height: auto;
      top: 0;
      z-index: -1;
    }

    &:nth-child(2),
    &:nth-child(4) {
      .circle {
        right: -21.875rem;
      }
    }

    &:nth-child(3) {
      .circle {
        left: -21.875rem;
      }
    }

    &:nth-child(2) {
      .left-downward-arrow {
        right: 0;
        left: auto;
      }
    }
  }

  footer {
    .navbar {
      flex-direction: row;

      .nav__list {
        flex-direction: row;
        margin-bottom: 0;
      }

      .logo {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 64rem) {
  .side-by-side {
    .container {
      text-align: start;
      display: flex;
      justify-content: space-between;
    }

    &:nth-child(even) .container {
      flex-direction: row-reverse;
    }

    &:nth-child(4) {
      .left-downward-arrow {
        left: auto;
        right: -23.75rem;
      }
    }

    .content {
      max-width: 445px;
      align-items: flex-start;
    }
  }

  footer {
    .cta {
      .container {
        display: flex;
        justify-content: space-between;
      }

      .content {
        max-width: 26rem;
      }

      h2 {
        text-align: start;
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 80rem) {
  .hero {
    background-image: url("/assets/images/home-hero-desktop.jpg");
    text-align: start;
    place-content: start;

    .content {
      display: flex;
      flex-direction: column;
      max-width: 31.25rem;

      .inner-content {
        align-self: flex-end;
        max-width: 25rem;
      }
    }
    .arrow {
      bottom: 10.325rem;
      left: 44rem;
    }

    .circles {
      bottom: 11rem;
      right: -3rem;
    }

    .line {
      visibility: visible;
      height: auto;
      bottom: 19rem;
      left: 0;
    }
  }
}
