<section class="side-by-side">
  <div class="container">
    <img
      src="{{ item.img.src }}"
      alt="{{ item.img.altText }}"
    />
    <div class="content">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description }}</p>
      {% if includeButton or item.includeButton %}
        <a
          href="/about/"
          class="btn--solid"
        >
          {{ item.buttonText }}
        </a>
      {% endif %}
    </div>
  </div>
  {% include "svgs/left-downward-arrow.svg" %}
  {% include "svgs/right-arrow.svg" %}
  {% include "svgs/circle.svg" %}
</section>
