<section class="side-by-side">
  <div class="container">
    <img
      src="{{ item.img.src }}"
      alt="{{ item.img.altText }}"
    />
    <div class="content">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description }}</p>
      <a
        href="/about/"
        class="btn--solid"
      >
        Learn More
      </a>
    </div>
  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="741"
    height="151"
    class="left-downward-arrow"
  >
    <g
      fill="none"
      fill-rule="evenodd"
      stroke="#FCB72B"
      stroke-linejoin="bevel"
      stroke-width="15"
    >
      <path d="M740.969 8H182.854v99.369H6.591" />
      <path d="M44.64 145.64L6.214 107.214 44.64 68.787" />
    </g>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="452"
    height="151"
    class="right-arrow"
  >
    <g
      fill="none"
      fill-rule="evenodd"
      stroke="#FCB72B"
      stroke-linejoin="bevel"
      stroke-width="15"
    >
      <path d="M407.952 145.444l38.426-38.426-38.426-38.426" />
      <path d="M0 8h270.115v99.369h176.263" />
    </g>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="1158"
    height="158"
    class="semi-circles"
  >
    <g
      fill="none"
      fill-rule="evenodd"
      opacity=".1"
      transform="matrix(-1 0 0 1 1159 8)"
    >
      <circle
        cx="173.5"
        cy="173.5"
        r="173.5"
        fill="#E5ECF4"
      />
      <circle
        cx="576.5"
        cy="173.5"
        r="173.5"
        stroke="#E5ECF4"
        stroke-width="15"
      />
      <circle
        cx="979.5"
        cy="173.5"
        r="173.5"
        stroke="#E5ECF4"
        stroke-width="15"
      />
    </g>
  </svg>
</section>
