<section class="side-by-side {{ item.class }}">
  <div class="container">
    <img
      src="{{ item.img.src | url }}"
      alt="{{ item.img.altText }}"
    />
    <div class="content">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description }}</p>
      {% if includeButton or item.includeButton %}
        <a
          href="{{ '/about/' | url }}"
          class="btn--solid"
        >
          {{ item.buttonText }}
        </a>
      {% endif %}
    </div>
  </div>
  {% include item.arrowSvg %}
  {% include "svgs/circle.svg" %}
</section>
