<header>
  <div class="container">
    <div class="navbar">
      <button class="nav-toggle">
        {% include "svgs/hamburger.svg" %}
        {% include "svgs/close.svg" %}
      </button>
      <a
        href="/"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        {% include "svgs/logo.svg" %}
      </a>
      <nav
        class="main-nav"
        role="navigation"
        aria-label="main"
      >
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item">
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
        {% include "partials/cta-button.html" %}
      </nav>
    </div>
  </div>
</header>
