<footer>
  <section class="cta">
    <div class="container">
      <div class="content">
        <h2>Sign up and Scoot off today</h2>
      </div>
      <div class="buttons">
        <a href="#">{% include "svgs/app-store.svg" %}</a>
        <a href="#">{% include "svgs/google-play.svg" %}</a>
      </div>
    </div>
    {% include "svgs/semi-circles.svg" %}
  </section>
  <div class="container">
    <div class="navbar">
      <a
        href="/"
        class="logo"
        aria-label="{{ site.name }} - home"
      >
        {% include "svgs/logo.svg" %}
      </a>
      <nav
        class="footer-nav"
        role="navigation"
        aria-label="footer"
      >
        <ul class="nav__list">
          {% for item in site.navigation %}
            <li class="nav__item">
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <ul class="socials__list">
        <li>
          <a href="https://facebook.com">{% include "svgs/facebook.svg" %}</a>
        </li>
        <li>
          <a href="https://twitter.com">{% include "svgs/twitter.svg" %}</a>
        </li>
        <li>
          <a href="https://instagram.com">{% include "svgs/instagram.svg" %}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
