<section class="values">
  <div class="container">
    <h2>{{ valuesTitle }}</h2>
    <div class="item-container">
      <div class="value__item">
        <figure>
          <img
            src="../assets/images/our-tech.jpg"
            alt="our tech"
          />
          <figcaption><h4>01</h4></figcaption>
        </figure>

        <div class="content">
          <h4>Our tech</h4>
          <p>
            We’re using cutting edge technology to drive accessible urban
            transportation forward. Our fully electric scooters are a joy to
            ride!
          </p>
        </div>
      </div>
      <div class="value__item">
        <figure>
          <img
            src="../assets/images/our-integrity.jpg"
            alt="our integrity"
          />
          <figcaption><h4>02</h4></figcaption>
        </figure>

        <div class="content">
          <h4>Our integrity</h4>
          <p>
            We are fully committed to deliver a great yet safe, sustainable
            micro-mobility experience in every city we serve.
          </p>
        </div>
      </div>
      <div class="value__item">
        <figure>
          <img
            src="../assets/images/our-community.jpg"
            alt="our community"
          />
          <figcaption><h4>03</h4></figcaption>
        </figure>

        <div class="content">
          <h4>Our community</h4>
          <p>
            We support every community we serve. All workers are paid a living
            wage based on their location and are Scoot employees.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
